
@{
    ViewBag.Title = "The End";
}

<h2>The End</h2>

<div class="container">
    <p>
        Thanks you for visiting my application. This is the end of the road for now as I need to do more learning before
        I have the skills required to add more sophisticated functionality. I hope to keep developing as a software
        devloper and when I have more in-depth skills, I would like to return to the concept of an e-commerce
        application and really do it the justice it deserves. Please wish me luck with my future learning and I
        hope you enjoyed my application.
    </p>
</div>