<nav class="navbar navbar-default">
    <div>
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Index", "Sale")">All</a></li>
            <li><a href="@Url.Action("Mens", "Sale")">Mens</a></li>
            <li><a href="@Url.Action("Womens", "Sale")">Womens</a></li>
        </ul>
    </div>
</nav>