<nav class="navbar navbar-default">
    <div>
        <ul class="nav navbar-nav">
            <li><a href="@Url.Action("Shoes", "Womens")">Shoes</a></li>
            <li><a href="@Url.Action("Trousers", "Womens")">Trousers</a></li>
            <li><a href="@Url.Action("Dresses", "Womens")">Dresses</a></li>
            <li><a href="@Url.Action("Tops", "Womens")">Tops</a></li>
        </ul>
    </div>
</nav>