@model IPagedList<Product>

@{
    ViewBag.Title = "Shoes";
}

<h2>Women's Shoes</h2>

@Html.Partial("WomensNavBar")

<div>
    @Html.Partial("Products")

    @*<div class="pager">*@  
        @Html.PagedListPager(Model, page => Url.Action("Shoes", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    @*</div>*@
</div>