@model IPagedList<Product>

@{
    ViewBag.Title = "Mens Jumpers";
}

<h1>Men's Jumpers</h1>

@Html.Partial("MensNavBar")

<div>
    @Html.Partial("Products")

    @*<div class="pager">*@
        @Html.PagedListPager(Model, page => Url.Action("Jumpers", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    @*</div>*@
</div>