@model IPagedList<Product>

@{
    ViewBag.Title = "Mens Shoes";
}

<h1>Men's Shoes</h1>

@Html.Partial("MensNavBar")

<div>
    @Html.Partial("Products")

    @*<div class="pager">*@
        @Html.PagedListPager(Model, page => Url.Action("Shoes", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    @*</div>*@
</div>